body {
    margin: 0;
    background: #111;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow: hidden;

    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

canvas {
    background: black;
    border: 2px solid white;

    width: 90vw;
    max-width: 600px;

    aspect-ratio: 1 / 1;
}

.mobile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.middle-controls {
    display: flex;
    gap: 10px;
}

button {
    width: 70px;
    height: 70px;

    border: none;
    border-radius: 12px;

    background: #333;
    color: white;

    font-size: 30px;

    cursor: pointer;
}

button:active {
    background: #666;
}